// border-colors
$table-border-color: grey !default;
$table-thtr-border-color: #dfe2e5 !default;
$table-border-top-color: #c6cbd1 !default;
$pre-border-color: #e1e4e8 !default;
$h2-border-bottom-color: #eaecef !default;
$h1-border-bottom-color: #ebedef !default;
$a-color: #000 !default;
$a-hover-color: #4e6ef2 !default;
$blockquote-color: #8c8466 !default;
$html-color: #24292e !default;

// background-colors
$background-color-1: #f6f8fa !default;
$background-color-2: #fff !default;
$background-color-3: #fbedb7 !default;
