html,
body {
  height: 100%;
  width: 100%;
  background: cadetblue;
  margin: 0;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
#main {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
}
/* 内容样式 */
#content {
  margin-left: 10%;
  width: 36%;
  background-color: #f5e2e2;
  height: 70%;
  overflow-y: scroll;
  font-size: 1.1rem;
  color: #0b0c0b;
  word-wrap: break-word;
  padding: 1rem 1.2rem;
  border-radius: 10px;
  border: 5px solid #2ebf21;
}
/* 隐藏滑动条 */
#content::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
/* #content::before {
  content: "";
  z-index: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: 0;
} */
p,
h1,
h2,
h3 {
  margin: 1rem 1rem;
}
h1,
h2,
h3 {
  color: crimson;
}
pre code {
  /* position: relative; */
  display: inline-block;
  width: 100%;
  /* padding: 8px 12px; */
  background-color: rgba(0, 0, 0, 0.226);
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
/* #content:hover {
  opacity: 0.6;
} */
.filter-tree {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
tr:nth-child(2n) {
  background-color: #f6f8fa;
}
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
