html,
body {
  height: 100%;
  width: 100%;
  background: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

/* 隐藏标签 a  下划线 */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #4e6ef2;
}

#app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
#main {
  width: 26%;
  height: 94%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  border: 1px solid #e1e4e8;
}
/* 内容样式 */
#content {
  /* margin-left: 10%; */
  width: 66%;
  height: 90%;
  overflow-y: scroll;
  color: #0b0c0b;
  padding: 1rem 1.2rem;
  border: 1px solid #e1e4e8;
  background-color: #f1f8ff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
/* 隐藏滑动条 */
#content::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

#main div::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

/* 标题代码样式 */
p {
  margin: 1rem 1rem;
}
h2 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  font-size: 1.25em;
}
pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border: 6px solid #e1e4e8;
}
code {
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
  display: inline;
  border-radius: 6px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

/* #content:hover {
  opacity: 0.6;
} */
.filter-tree {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

/* 表格样式 */
table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: grey;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
tr:nth-child(2n) {
  background-color: #f6f8fa;
}
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

/* 回到顶部样式 */
.backtop-button {
  position: absolute;
  bottom: 6%;
  right: 5%;
}
